

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
#home {
    display: flex;
    position: relative;

    
    
    
}
#home .background{
    background-color:#b37024;
    background-image: url('imgs/Home_Background.png');
    background-size: cover ;
    width: 100%;
    height: 50.8125rem;

}

#home .navbar {
display: flex;
width: 56%;
justify-content: space-between;
align-items:center;
position: absolute;

}

.navbar img {
    width: 100px;
    margin-top: 2.8125rem;
    margin-left: 6.5625rem; 

    
}
 a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline 2px red;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    
}
.navbar ul li {
    display: flex;
    margin: 0 25px;
    list-style: none;
    font-size: medium;
    font-weight: 700;
    
}

.homeDiv2 {
    position: absolute;
    top: 19.875rem;
    left: 5rem;  

    
}
.homeDiv2 h4{
    
    color: #E9BD8C;
}

.homeDiv2 h1{
    width:26rem;
    height: 9.25rem;
    font-family: "Sansita Swashed", system-ui;
    font-weight: 400;
    font-size: 4.625rem;
    color: white;
    text-align: center;
}

.homeDiv3 {
    position: absolute;
    top: 35.4375rem;
    left: 5rem;
}

.homeDiv3 > p > a {
    width: 12.125rem;
    padding: 1.5rem 2.375rem ;
    border: 3px solid black;
    background-color: #933C24;
    border-radius: 0.5rem;
    font-size: large;
    
}
.homeDiv3 > p > span > a  {
    color: #E9BD8C;
    font-size: larger;    
    padding-left: 1.25rem;

}

.products {
    display: grid;
    grid-template-areas: 
    "topProducts topProducts topProducts"
    "product1 product2 product3"
    "product4 product5 product6";
    gap: 15px 15px;
    justify-content: center;
    
}
.topProducts {
    display: flex;
 grid-area: topProducts;
 align-items: center;
 justify-content: center;
 
}
.topProducts > h1 {
    height: 6.5rem;
    font-family: "Sansita Swashed", system-ui;
    font-weight: 600;
    font-size: 4rem;
    margin: 3.5rem 0;
    text-align: center;
}
.productInfo {
    height: 25.6875rem;
    width: 22.5rem ;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.productInfo p {    
    color: white;
} 
.productInfo button {
    border: black;
    background-color: #933C24;
    width: 4.4375rem;
    height: 3.0625rem;
    border-radius: 0.25rem;
    padding: 1rem 0.75rem;
    font-size: medium;
    
}
.product1 {
     grid-area: product1;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     width: 22.5rem;
     height: 25.6875rem;
     border-radius: 0.5rem ;
     gap: 5px 5px;
}


.product2 {
    grid-area: product2;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 22.5rem;
height: 25.6875rem;
border-radius: 0.5rem ;
}

.product3 {
    grid-area: product3 ;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 22.5rem;
height: 25.6875rem;
border-radius: 0.5rem ;
}

.product4 {
    grid-area: product4;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 22.5rem;
height: 25.6875rem;
border-radius: 0.5rem ;
}

.product5 {
    grid-area: product5;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 22.5rem;
height: 25.6875rem;
border-radius: 0.5rem ;
}

.product6 {
    grid-area:product6;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 22.5rem;
height: 25.6875rem;
border-radius: 0.5rem ;
}

.productPrix-info {
    display: flex;
    justify-content: space-around;
    width: inherit;

}
.productPrix-info i {
    color: white;
}

.productNom {
    display: flex;
    justify-content: space-around;
    width: inherit;
}
.firstOrder {
    background-image: url('imgs/first_order/first_order_pic.png');
    background-color: #b37024;
    background-size: cover;
    height: 27.625rem ;
    margin-top: 200px ;

    display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.firstOrder h2 {
    font-family: "Sansita Swashed", system-ui ;
    font-weight: 500;
    font-size: 3rem;
    width: 24.375rem;
    height: 5.625rem;
    line-height: 3.6rem;
    text-align: center;
}
.firstOrder p {
    color: #5D5D5D;
font-family: Inter;
font-size: 1.5rem;
font-weight: 400;
line-height: 1.815625px;
text-align: center;

}
.firstOrder button {
    width: 16.625rem;
    height: 3.9375rem;
    padding: 1.4375rem 2.1875rem;
    border-radius: 0.625rem;
    background-color: #933C24;
    
    
}

.firstOrder button a {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    height: 1.0625rem ;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.exploreMore {
    height: 62.9375rem;
    display: flex;
    flex-direction: column;
justify-content: space-between;
align-items: center;
margin-top: 8.125rem;
}
.exploreMore h1 {
    font-family: "Sansita Swashed", system-ui ;
font-size: 4rem;
font-weight: 600;
line-height: 4.8rem;
text-align: center;
width: 27.9375rem;
height: 2.5rem;

}

.exploreMore div.categories {
    width: 70rem;
    height: 1.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.categoriesNames {
    width: 43.625rem;
    height: 1.9375rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #D9D9D9;
    
     
}
.categoriesNames div a{
    width: 4.5625rem;
    height: 1.0625rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-align: left;
    color: #5D5D5D;
}

.cakes {
    display: grid;
    grid-template-areas:
     "p1 p2 p3" "p4 p5 p6" 
    ;
    gap: 1.25rem 1.25rem;
} 

.cakes div{
    width: 22.5rem;
    height: 21.875rem;
    border-radius: 8px;    
}

.aboutUs {
    background-color: #b37024;
    background-image: url('imgs/about_us/about_us_background.png');
    width: 100%;
    height: 28.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.5rem;
    
}
.aboutUs div {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}


.aboutUs h2 {
    /* width: 11.8125rem; */
    height: 2rem;
    font-family: "Sansita Swashed", system-ui;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.6rem;
    text-align: left;
    padding-top: 5rem;
    color: #F5F5F5;
}
.aboutUs p {
    width: 21.4375rem;
    height: 6.5rem;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.815625rem;
    text-align: center;
    color: #B9B9B9;
    
}
.aboutUs button {
    background-color: #933C24;
    width: 12.1875rem ;
    height: 3.9375rem;
    padding: 1.4375rem 2.1875rem;
    margin-top: 20px;
    border-radius: .625rem 0px 0px .625rem;
   
    
}
.aboutUs button a {
    width: 7.8125rem;
    height: 1.0625rem ;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.815625rem;
    text-align: left;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ourTreats h1{
    height: 2.5rem;
    font-family: "Sansita Swashed",system-ui;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.8rem;
    text-align: center;
    margin: 6.25rem 0;
 }
    
.ourTreats img {
        width: 22.5rem;
        height: 22.25rem;
        border-radius: .5rem ;
}
.ourTreats p {
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4206rem;
    text-align: left;

}

.treats {
    
    height: 22.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem 1.25rem;
    margin: 3.125rem 0;

}

.treatInfo {
    margin-top: .625rem;
    display: flex;
    justify-content: space-around;
}

.footerContainer {
    width: 100%;
    height:  39.5625rem;
    background-color: #933C24;
    background-image: url('imgs/footer_background/background.png');
    margin-top: 8.125rem;
}
.socialInfo {
    padding: 50px ;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #E9BD8D33;
}
.socialMedia {
    width: 24.5625rem;
    height: 2.6256rem;
    display: flex;
    justify-content: space-evenly;
    justify-self: start;
}

.socialMedia p {
    width: 6.8125rem;
    height: 1.0625rem;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8156rem;
    text-align: left;
    color: #E9BD8D;
}
.socialIcons i {
    color: #E9BD8C;
}

.socialInfo img {
    width: 114px;
    height: 116.96px;


}

.addressInfo address {
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;
color: #f5f5f5;

}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
}
.footer h2{
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.7231rem;
    text-align: left;
    color: #E9BD8D;
    padding-bottom: 1.25rem;

}

.explore a {
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;
color: #f5f5f5;

}

.recentNews div {
    display: flex;
    
}
.recentNews div div{
    display: flex;
    flex-direction: column;
}


.newsDate {
    width: 7.0625rem;
    height: .8125rem;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6875rem;
    text-align: left;
    color: #E9BD8C;
    margin-left: 1.25rem;
}

.treatName {
    width: 12.3125rem;
    height: 1.0625rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    text-align: left;
    color: #F5F5F5;
    margin-left: 1.25rem;
    margin-top: .8125rem;

}
.recentNews div:first-of-type{
    margin-bottom: 20px;
}

.services {
    background-color: #b37024;
    background-image: url('imgs/services_background/bakery-various-kinds-breadstuff-bread.webp');
    background-size: cover;
    height: 80vh;
    
}

.services span {
    font-family: 'Arial', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5;
    color: #E9BD8C;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: underline;

}

.services ol {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.services p  {
    font-style: italic;
    color: #F5F5F5;
    text-indent: 20px;
    font-variant: small-caps;

}

section h1:first-child {
    height: 2.5rem;
    font-family: "Sansita Swashed",system-ui;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.8rem;
    text-align: center;
    margin: 6.25rem 0;
}